APP_ENV=${AUTH_APP_ENV}
GRPC_HOST=${AUTH_GRPC_HOST}
GRPC_PORT=${AUTH_GRPC_PORT}
METRICS_HOST=${AUTH_METRICS_HOST}
METRICS_PORT=${AUTH_METRICS_PORT}
LOGGER_LEVEL=${AUTH_LOGGER_LEVEL}
LOGGER_AS_JSON=${AUTH_LOGGER_AS_JSON}
REDIS_HOST=${AUTH_REDIS_HOST}
REDIS_PORT=${AUTH_REDIS_PORT}
REDIS_PASSWORD=${AUTH_REDIS_PASSWORD}
REDIS_CONNECTION_TIMEOUT=${AUTH_REDIS_CONNECTION_TIMEOUT}
REDIS_MAX_IDLE=${AUTH_REDIS_MAX_IDLE}
REDIS_IDLE_TIMEOUT=${AUTH_REDIS_IDLE_TIMEOUT}
USER_GRPC_ADDRESS=${AUTH_USER_GRPC_ADDRESS}
USER_GRPC_TLS=${AUTH_USER_GRPC_TLS}
USER_GRPC_CA_FILE=${AUTH_USER_GRPC_CA_FILE}
USER_GRPC_SERVER_NAME=${AUTH_USER_GRPC_SERVER_NAME}
JWT_SECRET=${AUTH_JWT_SECRET}
REFRESH_TOKEN_SECRET=${AUTH_REFRESH_TOKEN_SECRET}
SERVICE_JWT_SECRET=${AUTH_SERVICE_JWT_SECRET}
ACCESS_TOKEN_TTL=${AUTH_ACCESS_TOKEN_TTL}
REFRESH_TOKEN_TTL=${AUTH_REFRESH_TOKEN_TTL}
LOGIN_MAX_ATTEMPTS=${AUTH_LOGIN_MAX_ATTEMPTS}
LOGIN_ATTEMPTS_WINDOW=${AUTH_LOGIN_ATTEMPTS_WINDOW}
GRPC_MAX_RPS=${AUTH_GRPC_MAX_RPS}
