APP_ENV=${CHAT_APP_ENV}
GRPC_HOST=${CHAT_GRPC_HOST}
GRPC_PORT=${CHAT_GRPC_PORT}
METRICS_HOST=${CHAT_METRICS_HOST}
METRICS_PORT=${CHAT_METRICS_PORT}
LOGGER_LEVEL=${CHAT_LOGGER_LEVEL}
LOGGER_AS_JSON=${CHAT_LOGGER_AS_JSON}
POSTGRES_HOST=${CHAT_POSTGRES_HOST}
POSTGRES_PORT=${CHAT_POSTGRES_PORT}
EXTERNAL_POSTGRES_PORT=${CHAT_EXTERNAL_POSTGRES_PORT}
POSTGRES_USER=${CHAT_POSTGRES_USER}
POSTGRES_PASSWORD=${CHAT_POSTGRES_PASSWORD}
POSTGRES_DB=${CHAT_POSTGRES_DB}
POSTGRES_SSL_MODE=${CHAT_POSTGRES_SSL_MODE}
MIGRATION_DIRECTORY=${CHAT_MIGRATION_DIRECTORY}
REDIS_HOST=${CHAT_REDIS_HOST}
REDIS_PORT=${CHAT_REDIS_PORT}
REDIS_PASSWORD=${CHAT_REDIS_PASSWORD}
REDIS_CONNECTION_TIMEOUT=${CHAT_REDIS_CONNECTION_TIMEOUT}
REDIS_MAX_IDLE=${CHAT_REDIS_MAX_IDLE}
REDIS_IDLE_TIMEOUT=${CHAT_REDIS_IDLE_TIMEOUT}
KAFKA_BROKERS=${CHAT_KAFKA_BROKERS}
KAFKA_CHAT_EVENTS_TOPIC=${CHAT_KAFKA_CHAT_EVENTS_TOPIC}
KAFKA_USER_CREATED_TOPIC=${CHAT_KAFKA_USER_CREATED_TOPIC}
KAFKA_USER_DELETED_TOPIC=${CHAT_KAFKA_USER_DELETED_TOPIC}
JWT_SECRET=${CHAT_JWT_SECRET}
SERVICE_JWT_SECRET=${CHAT_SERVICE_JWT_SECRET}
GRPC_MAX_RPS=${CHAT_GRPC_MAX_RPS}
REALTIME_CHANNEL=${CHAT_REALTIME_CHANNEL}
