KAFKA_INTERNAL_PORT=${CORE_KAFKA_INTERNAL_PORT}
KAFKA_EXTERNAL_PORT=${CORE_KAFKA_EXTERNAL_PORT}
KAFKA_CONTROLLER_PORT=${CORE_KAFKA_CONTROLLER_PORT}
KAFKA_UI_PORT=${CORE_KAFKA_UI_PORT}
REDIS_EXTERNAL_PORT=${CORE_REDIS_EXTERNAL_PORT}
MINIO_API_PORT=${CORE_MINIO_API_PORT}
MINIO_CONSOLE_PORT=${CORE_MINIO_CONSOLE_PORT}
MINIO_ROOT_USER=${CORE_MINIO_ROOT_USER}
MINIO_ROOT_PASSWORD=${CORE_MINIO_ROOT_PASSWORD}
OPENSEARCH_PORT=${CORE_OPENSEARCH_PORT}
PROMETHEUS_EXTERNAL_PORT=${CORE_PROMETHEUS_EXTERNAL_PORT}
GRAFANA_EXTERNAL_PORT=${CORE_GRAFANA_EXTERNAL_PORT}
GRAFANA_ADMIN_USER=${CORE_GRAFANA_ADMIN_USER}
GRAFANA_ADMIN_PASSWORD=${CORE_GRAFANA_ADMIN_PASSWORD}
