APP_ENV=${GATEWAY_APP_ENV}
HTTP_HOST=${GATEWAY_HTTP_HOST}
HTTP_PORT=${GATEWAY_HTTP_PORT}
METRICS_HOST=${GATEWAY_METRICS_HOST}
METRICS_PORT=${GATEWAY_METRICS_PORT}
LOGGER_LEVEL=${GATEWAY_LOGGER_LEVEL}
LOGGER_AS_JSON=${GATEWAY_LOGGER_AS_JSON}
REDIS_HOST=${GATEWAY_REDIS_HOST}
REDIS_PORT=${GATEWAY_REDIS_PORT}
REDIS_PASSWORD=${GATEWAY_REDIS_PASSWORD}
REDIS_CONNECTION_TIMEOUT=${GATEWAY_REDIS_CONNECTION_TIMEOUT}
REDIS_MAX_IDLE=${GATEWAY_REDIS_MAX_IDLE}
REDIS_IDLE_TIMEOUT=${GATEWAY_REDIS_IDLE_TIMEOUT}
CHAT_GRPC_ADDRESS=${GATEWAY_CHAT_GRPC_ADDRESS}
JWT_SECRET=${GATEWAY_JWT_SECRET}
SERVICE_JWT_SECRET=${GATEWAY_SERVICE_JWT_SECRET}
WS_ALLOWED_ORIGINS=${GATEWAY_WS_ALLOWED_ORIGINS}
REALTIME_CHANNEL=${GATEWAY_REALTIME_CHANNEL}
PRESENCE_TTL=${GATEWAY_PRESENCE_TTL}
TYPING_TTL=${GATEWAY_TYPING_TTL}
