APP_ENV=${MEDIA_APP_ENV}
GRPC_HOST=${MEDIA_GRPC_HOST}
GRPC_PORT=${MEDIA_GRPC_PORT}
METRICS_HOST=${MEDIA_METRICS_HOST}
METRICS_PORT=${MEDIA_METRICS_PORT}
LOGGER_LEVEL=${MEDIA_LOGGER_LEVEL}
LOGGER_AS_JSON=${MEDIA_LOGGER_AS_JSON}
POSTGRES_HOST=${MEDIA_POSTGRES_HOST}
POSTGRES_PORT=${MEDIA_POSTGRES_PORT}
EXTERNAL_POSTGRES_PORT=${MEDIA_EXTERNAL_POSTGRES_PORT}
POSTGRES_USER=${MEDIA_POSTGRES_USER}
POSTGRES_PASSWORD=${MEDIA_POSTGRES_PASSWORD}
POSTGRES_DB=${MEDIA_POSTGRES_DB}
POSTGRES_SSL_MODE=${MEDIA_POSTGRES_SSL_MODE}
MIGRATION_DIRECTORY=${MEDIA_MIGRATION_DIRECTORY}
S3_ENDPOINT=${MEDIA_S3_ENDPOINT}
S3_ACCESS_KEY=${MEDIA_S3_ACCESS_KEY}
S3_SECRET_KEY=${MEDIA_S3_SECRET_KEY}
S3_BUCKET=${MEDIA_S3_BUCKET}
S3_USE_SSL=${MEDIA_S3_USE_SSL}
S3_PUBLIC_ENDPOINT=${MEDIA_S3_PUBLIC_ENDPOINT}
MAX_UPLOAD_BYTES=${MEDIA_MAX_UPLOAD_BYTES}
JWT_SECRET=${MEDIA_JWT_SECRET}
SERVICE_JWT_SECRET=${MEDIA_SERVICE_JWT_SECRET}
GRPC_MAX_RPS=${MEDIA_GRPC_MAX_RPS}
