APP_ENV=${NOTIFY_APP_ENV}
GRPC_HOST=${NOTIFY_GRPC_HOST}
GRPC_PORT=${NOTIFY_GRPC_PORT}
METRICS_HOST=${NOTIFY_METRICS_HOST}
METRICS_PORT=${NOTIFY_METRICS_PORT}
LOGGER_LEVEL=${NOTIFY_LOGGER_LEVEL}
LOGGER_AS_JSON=${NOTIFY_LOGGER_AS_JSON}
POSTGRES_HOST=${NOTIFY_POSTGRES_HOST}
POSTGRES_PORT=${NOTIFY_POSTGRES_PORT}
EXTERNAL_POSTGRES_PORT=${NOTIFY_EXTERNAL_POSTGRES_PORT}
POSTGRES_USER=${NOTIFY_POSTGRES_USER}
POSTGRES_PASSWORD=${NOTIFY_POSTGRES_PASSWORD}
POSTGRES_DB=${NOTIFY_POSTGRES_DB}
POSTGRES_SSL_MODE=${NOTIFY_POSTGRES_SSL_MODE}
MIGRATION_DIRECTORY=${NOTIFY_MIGRATION_DIRECTORY}
REDIS_HOST=${NOTIFY_REDIS_HOST}
REDIS_PORT=${NOTIFY_REDIS_PORT}
REDIS_PASSWORD=${NOTIFY_REDIS_PASSWORD}
KAFKA_BROKERS=${NOTIFY_KAFKA_BROKERS}
KAFKA_CHAT_EVENTS_TOPIC=${NOTIFY_KAFKA_CHAT_EVENTS_TOPIC}
PUSH_PROVIDER=${NOTIFY_PUSH_PROVIDER}
JWT_SECRET=${NOTIFY_JWT_SECRET}
SERVICE_JWT_SECRET=${NOTIFY_SERVICE_JWT_SECRET}
GRPC_MAX_RPS=${NOTIFY_GRPC_MAX_RPS}
