PROMETHEUS_EXTERNAL_PORT=${CORE_PROMETHEUS_EXTERNAL_PORT}
GRAFANA_EXTERNAL_PORT=${CORE_GRAFANA_EXTERNAL_PORT}
GRAFANA_ADMIN_USER=${CORE_GRAFANA_ADMIN_USER}
GRAFANA_ADMIN_PASSWORD=${CORE_GRAFANA_ADMIN_PASSWORD}
