APP_ENV=${SEARCH_APP_ENV}
GRPC_HOST=${SEARCH_GRPC_HOST}
GRPC_PORT=${SEARCH_GRPC_PORT}
METRICS_HOST=${SEARCH_METRICS_HOST}
METRICS_PORT=${SEARCH_METRICS_PORT}
LOGGER_LEVEL=${SEARCH_LOGGER_LEVEL}
LOGGER_AS_JSON=${SEARCH_LOGGER_AS_JSON}
OPENSEARCH_URL=${SEARCH_OPENSEARCH_URL}
KAFKA_BROKERS=${SEARCH_KAFKA_BROKERS}
KAFKA_CHAT_EVENTS_TOPIC=${SEARCH_KAFKA_CHAT_EVENTS_TOPIC}
JWT_SECRET=${SEARCH_JWT_SECRET}
SERVICE_JWT_SECRET=${SEARCH_SERVICE_JWT_SECRET}
GRPC_MAX_RPS=${SEARCH_GRPC_MAX_RPS}
