APP_ENV=${USER_APP_ENV}
GRPC_HOST=${USER_GRPC_HOST}
GRPC_PORT=${USER_GRPC_PORT}
METRICS_HOST=${USER_METRICS_HOST}
METRICS_PORT=${USER_METRICS_PORT}
LOGGER_LEVEL=${USER_LOGGER_LEVEL}
LOGGER_AS_JSON=${USER_LOGGER_AS_JSON}
POSTGRES_HOST=${USER_POSTGRES_HOST}
POSTGRES_PORT=${USER_POSTGRES_PORT}
EXTERNAL_POSTGRES_PORT=${USER_EXTERNAL_POSTGRES_PORT}
POSTGRES_USER=${USER_POSTGRES_USER}
POSTGRES_PASSWORD=${USER_POSTGRES_PASSWORD}
POSTGRES_DB=${USER_POSTGRES_DB}
POSTGRES_SSL_MODE=${USER_POSTGRES_SSL_MODE}
MIGRATION_DIRECTORY=${USER_MIGRATION_DIRECTORY}
KAFKA_BROKERS=${USER_KAFKA_BROKERS}
KAFKA_USER_CREATED_TOPIC=${USER_KAFKA_USER_CREATED_TOPIC}
KAFKA_USER_DELETED_TOPIC=${USER_KAFKA_USER_DELETED_TOPIC}
GRPC_MAX_RPS=${USER_GRPC_MAX_RPS}
JWT_SECRET=${USER_JWT_SECRET}
SERVICE_JWT_SECRET=${USER_SERVICE_JWT_SECRET}
